In [5]:
import pandas as pd
from pathlib import Path

In [12]:
csv_file = Path("migration_population.csv")

In [20]:
data_df = pd.read_csv(csv_file)
data_df

,country,year,population,pop_density,net_migration,migration_perc,iso3c,iso2c,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,Arab World,2018,419790588.0,37.372365,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
1,Arab World,2017,411898965.0,36.669804,-1408824.0,-0.003420,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
2,Arab World,2016,404024433.0,35.968764,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
3,Arab World,2015,396028278.0,35.256897,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
4,Arab World,2014,387907748.0,34.533978,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15571,Zimbabwe,1964,4322861.0,11.174515,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15572,Zimbabwe,1963,4178726.0,10.801928,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15573,Zimbabwe,1962,4039201.0,10.441259,-15009.0,-0.003716,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15574,Zimbabwe,1961,3905034.0,10.094440,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312
15575,Zimbabwe,1960,3776681.0,NaN,NaN,NaN,ZWE,ZW,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312

In [24]:
json_output = Path("data.json")
output = data_df.to_json(json_output, indent = 1, orient = 'records')
output